@-moz-keyframes downOut {
    0% {
      transform: translateZ(200px) transLateY(40px);
    }
    80% {
      transform: translateZ(-10px) transLateY(0px);
    }
    100% {
      transform: translateZ(0px) transLateY(0px);
    }
  }
  @-webkit-keyframes downOut {
    0% {
      transform: translateZ(200px) transLateY(40px);
    }
    80% {
      transform: translateZ(-10px) transLateY(0px);
    }
    100% {
      transform: translateZ(0px) transLateY(0px);
    }
  }
  @-o-keyframes downOut {
    0% {
      transform: translateZ(200px) transLateY(40px);
    }
    80% {
      transform: translateZ(-10px) transLateY(0px);
    }
    100% {
      transform: translateZ(0px) transLateY(0px);
    }
  }
  @keyframes downOut {
    0% {
      transform: translateZ(200px) transLateY(40px);
    }
    80% {
      transform: translateZ(-10px) transLateY(0px);
    }
    100% {
      transform: translateZ(0px) transLateY(0px);
    }
  }
  @-moz-keyframes growOut {
    0% {
      transform: scale(0);
    }
    80% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  @-webkit-keyframes growOut {
    0% {
      transform: scale(0);
    }
    80% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  @-o-keyframes growOut {
    0% {
      transform: scale(0);
    }
    80% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes growOut {
    0% {
      transform: scale(0);
    }
    80% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }


@media (min-width:1025px){
    .dropdown_menu li {
        display: none;
        opacity: 0;
      }
    .nav_item:hover .dropdown_menu li {
        display: block;
      }
      .nav_item:hover .dropdown_menu--animated {
        display: block;
      }

      .dropdown_menu--animated {
        display: none;
      }
      .dropdown_menu--animated li {
        display: block;
        opacity: 1;
      }
      .nav_item .dropdown_item .nav_link:hover{
        background-color: var(--orange);
        color: var(--darkgrey);
      }
      .nav_item .nav_link:hover{
        color: var(--orange);
      }
      .dropdown_menu-8 {
        animation: downOut 300ms ease-in-out forwards;
        transform-origin: center center;
      }
      .dropdown_menu-9 {
        animation: growOut 300ms ease-in-out forwards;
        transform-origin: top center;
      }
}

@media (min-width: 1365px) {
  .container {
      max-width: 1310px;
  }
}

@media(max-width:991px){
  
.toggle_button {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-end;
  align-items: flex-end;
}
ul.site_navigation {
  overflow: hidden;
  display: none;
  background-color: #ffffff;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0px;
  box-shadow: 0px 4px 20px 0px #CFCFCF;
}
.fahdu_siteheader {
  position: relative;
  padding: 15px 0px;
}
ul.site_navigation li.nav_item {
  margin: 0px;
  padding: 0px;
  font-size: 0px;
}
.nav_item .nav_link {
  padding: 15px 20px;
  font-weight: 600;
  display: flex;
  font-size: 16px;
  border-top: 1px solid #000000;
}
ul.site_navigation li.nav_item:first-child a.nav_link {
  border-top: 0px;
}
.dropdown_menu {
  position: static;
  width: 100%;
}

.dropdown_menu .submenudiv {
  border: 0px;
  border-radius: 0px;
  box-shadow: none;
  padding: 0px;
}

.nav_item .submenudiv .dropdown_item .nav_link {
  border-radius: 0px !important;
  border-top: 1px solid #F2F2F2;
  font-weight: 400;
}
}