@import url(/fonts/fontstyle.css);


:root {
  --darkgrey: #1E1E1E;
  --white:#ffffff;
  --orange: #FFA86B;
  --Rubik: "Rubik", serif;
  --Charmonman :  "Charmonman", serif;
}


body{
color: var(--darkgrey);
font-family: var(--Rubik);
font-style: normal;
font-size: 22px;
line-height: 1.5;
background-color: #ffffff;
}

img {
  max-width: 100%;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.h1, h1 {
  font-size: 80px;
  line-height: 1.1;
  text-transform: uppercase;

}

.h2, h2 {
  font-size: 64px;
  line-height: 1.2;
  margin: 0px 0px 12px;
}
.h3, h3 {
  font-size: 37px;
  line-height: 1.2;
  margin: 0px 0px 10px;
}
.h4, h4 {
  font-size: 24px;
  line-height: 1.2;
  margin: 0px 0px 10px;
}
.h5, h5 {
  font-size: 22px;
  line-height: 1.2;
  margin: 0px 0px 10px;
}
.dark{
  color: var(--white);
}


.w-1000 {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.cta {
  border: 3px  solid var(--darkgrey);
  padding: 8px;
  box-shadow: 4px 4px var(--darkgrey);
  color: var(--darkgrey);
  border-radius: 16px;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 57px;
  display: inline-block;
  text-align: center;
  transition: all 0.3s linear;
}
.cta.orangeoutline {
  border: 3px solid var(--darkgrey);
  box-shadow: 4px 4px #FF6E08;
}
.cta.cta-blue {
  background-color: #aec3f7;

}
.featured_card .cta.cta-blue {
  padding: 10px 15px;
  font-size: 16px;
  box-shadow: none;
  width: 100%;
}
.featured_card .cta.cta-blue:hover {
  box-shadow: 2px 2px var(--darkgrey);
}
.cta:hover {
  box-shadow: none;
  color:var(--darkgrey) ;
}

.cta.cta-orange{
  background-color:var(--orange) ;
}
.mt-5 {
  margin-top: 5rem;
}
.mt-3 {
  margin-top: 3rem !important;
}





.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}








.header_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.header_wrap .brand_logo {
  max-width: 157px;
}
.header_nav {
  width: calc( 100% - 157px);
}

ul.site_navigation {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.site_navigation .nav_item {
  margin-left: 30px;
  padding: 20px 0px;
  position: relative;
  font-size: 18px;
  perspective: 1000px;
  z-index: 100;
}
.fahdu_siteheader {
  position: relative;
  z-index: 9999;
}
.nav_item .nav_link {
  font-size: 14px;
  font-weight: 500;
  color: var(--darkgrey);
}
.nav_item .toggle_dropdown {
  width: 12px;
  display: inline-block;
  margin-left: 5px;
}
.nav_item .toggle_dropdown img {
  transition: all 0.3s linear;
}
.nav_item .nav_link.open .toggle_dropdown img {
  transform: rotateX(180deg);
}
ul.dropdown_menu_list {
    padding: 0px;
    list-style: none;
    margin: 0px;
}
.dropdown_menu {
  position: absolute;
  top: 100%;
  left: -25px;
  right: 0;
  margin: auto;
  perspective: 1000px;
  z-index: -1;
  width: 175px;
 
}
.dropdown_menu .submenudiv{
  border: solid;
  padding: 8px;
  border-width: 1px;
  box-shadow: 2px 2px;
  border-radius: 1rem;
  background-color: var(--white);
}

.dropdown_menu li a{
  padding: 10px 20px;
  font-size: 16px;
}


.dropdown_item .nav_link {
  width: 100%;
  display: block;
  padding: 7px 10px;
  transition: all 0.3s linear;
  font-size: 14px;
  border-radius: 7px;
}
.dropdown_item .nav_link.active {
  background-color: var(--orange);
}
.toggle_button {
  border: 0px;
  padding: 0px;
  display: none;
}

.toggle_button .bar {
  min-width: 26px;
  min-height: 3px;
  display: block;
  background-color: #000000;
  margin: 0px;
  border-radius: 50px;
}
.toggle_button .bar.bar3 {
  min-width: 13px;
  width: 13px;
}

.navigation_wrap {
  display: flex;
      align-items: center;
      justify-content: flex-end;
}
.logo_slider_block {
  background-color: var(--darkgrey);
  padding: 18px 0px;
}
.logo_slider_block .slick-track {
  display: flex;
  align-items: center;
}
.logo_slider_block .slick-track .slick-slide > div {
  line-height: 0;
}

.logo_slider {
  display: flex;
  align-items: center;
}

.logo_div {
  padding: 0px 25px;
}
video::-webkit-media-controls {
  display: none !important;
}
video::-webkit-media-controls-enclosure {
  display: none !important;
}
span.round_video {
  height: 63px;
  width: 63px;
  display: inline-block;
  line-height: 0;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #000000;
  margin-bottom: -3px;
}

span.round_video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
span.large_video {
  height: 59px;
  width: 120px;
  display: inline-block;
  line-height: 0;
  border-radius: 50px;
  overflow: hidden;
}

span.large_video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
span.heding_span {
  display: flex;
  justify-content: center;
  align-items: center;
}
span.flower_span {
  height: 65px;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
span.flower_span img {
  animation: rotateflower 5s linear infinite;
}

@keyframes rotateflower {
 0% { 
   transform: rotate(0); 
 }
 100% { 
   transform: rotate(360deg);
 }
}

.ditted_pattern {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: -1;
  background-position: center top;
  background-size: contain;
  background-repeat: repeat;
}

.main {
  position: relative;
  z-index: 10;
}
.spot_light_vid {
  width: 346px;
  box-shadow: 6px 6px 0 0 #ffa07a, 8px 8px 0 0 #000;
  border-radius: 17px;
  border: 2px solid #000;
  overflow: hidden;
  line-height: 0;
  position: relative;
}
.spot_light_vid video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.spotlight_grid {
  display: flex;
  gap: 55px;
  justify-content: center;
}

.spotlight_block_wrapper {
  margin-top: 60px;
}

.spot_light_right {
  margin-top: 70px;
}
.spot_light_right .spot_light_vid {
  width: 160px;
  box-shadow: 6px 6px 0 0 #ffffff, 8px 8px 0 0 #000;
}
.spot_light_left {
  margin-top: 200px;
}
.spot_light_right .spot_light_vid:before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #00000085;
  position: absolute;
  left: 0px;
  top: 0px;
}
.spaot_light_block {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.spotlight_main_wrap {
  position: relative;
}
.spotlight_main_wrap .spotlight_text {
  position: absolute;
  left: 100%;
  bottom: 0px;
  padding-left: 20px;
}
.spotlight_main_wrap .spotlight_text p {
  font-size: 14px;
  line-height: 9px;
  text-transform: uppercase;
  font-weight: 600;
}
.video_frame_right {
  display: flex;
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-align: center;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.view_box span {
  display: block;
  line-height: 1.5;
  color: #ffffff;
  font-size: 14px;
  width: 30px;
  text-align: center;
}
.heart,.heartmore {
  position: absolute;
  bottom: 15;
  right:0px;
  animation: fly 3s linear infinite;
  font-size: 1.2rem;
  color: #F16565;
  opacity: 0;
}
@keyframes fly {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-300px);
    opacity: 0;
  }
}
.heart_container_more.animate_heart {
  position: relative;
  right: 13px;
}
.video_frame_left {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 10px;
  width: 67%;
  max-width: 220px;
}
.spot_light_vid_overlay {
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 100%;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 27px;
}
.media_kit_section.dark {
  background-color: var(--darkgrey);
}
.temp_box {
  width: 100%;
  /* max-width: 440px; */
  filter: blur(3px);
}
.template_slider .slick-slide.slick-current.slick-active .temp_box {
  filter: blur(0px);
}
.template_slider_block {
  height: 500px;
  overflow: hidden;
  padding-top: 100px;
}
.template_slider .slick-slide.slick-current.slick-active{
  position: relative;
  z-index: 10;
}
.template_slider .slick-slide.slick-current.slick-active img {
  transform: scale(1.1);
  transform-origin: bottom;
}
.template_slider .slick-slide.slick-current.slick-active img{
   transition:all 0.3s linear;
}
.template_slider .slick-list {
   overflow: visible;
   padding: 0px 20% !important;
}
.media_kit_section {
   overflow-x: hidden;
}
.accordian_card {
  border: 2px solid var(--darkgrey);
  border-radius: 16px;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 60px;
  transition: all 0.3s linear;
}
.accordian_card.active-card {
  box-shadow: 4px 6px var(--darkgrey);
}

.accordian_content {
  padding: 0px 28px 28px;
  font-size: 16px;
}

.accordian_head {
  display: flex;
  justify-content: space-between;
  padding: 28px;
  cursor: pointer;
}

.accordian_head h4 {
  font-size: 24px;
  font-weight: 600;
  margin: 0px;
  width: 90%;
}
.accordin_dropdown img {
  transition: all 0.3s linear;
}
.acordian_block {
  margin-top: 50px;
}

/* Accordion styles */
.accordian_body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.accordian_body.open {
  max-height: 500px; /* Adjust based on your content height */
  padding: 10px 0; /* Add padding when open */
}

.accordin_dropdown img {
  transition: transform 0.3s ease-out;
}

.accordian_head.active .accordin_dropdown img {
  transform: rotate(180deg); /* Rotate arrow when active */
}
.custm_accordn {
  position: relative;
}

.custm_accordn:after {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  left: 34px;
  top: 0px;
  border-left: 2px dashed var(--darkgrey);
  z-index: -1;
}

.accordian_card:last-child {
  margin-bottom: 0px;
}
.featured_card {
  border: 2px solid var(--darkgrey);
  border-radius: 16px;
  width: 100%;
  transition: all 0.3s linear;
  height: 100%;
  padding: 40px;
  background-color: var(--white);
}
.featured_card p {
  margin: 0px;
  font-size: 16px;
  width: 100%;
  max-width: 545px;
}
.featured_card .featured_icon {
  width: 100%;
  max-width: 60px;
  margin: 0px 0px 16px;
}
.featured_card h4 {
  margin: 0px 0px 12px;
}
.featured_card_wrap {
  position: relative;
  height: 100%;
}
.back_box {
  border: 3px solid var(--darkgrey);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  z-index: -1;
  transition: all 0.3s linear;

}
.featured_card_wrap:hover .back_box {
transform: translate(8px, 8px);
}
.featured_row {
  gap: 30px 0px;
}
.engagement_block {
  display: flex;
  flex-wrap: wrap;
}
.engagement_block .eng_sidebar_col {
  width: 304px;
  min-width: 304px;
}
.engagement_block .eng_fetaure_block {
  width: calc(100% - 304px);
  padding-right: 30px;
}

.eng_sodebar .featured_card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  padding: 33px;
}
.eng_sodebar .featured_card .featured_card_inner {
  width: 100%;
}

.featured_card ul {
  padding: 0px 0px 0px 18px;
  margin: 0px;
}

.featured_card li {
  font-size: 16px;
  line-height: 1.5;
}
a.feature_link {
  color: var(--darkgrey);
}
.eng_sodebar {
  height: 100%;
}


.testi_slide_footer {
  display: flex;
  align-items: center;
}
.testi_slide_footer .client_thumb {
  height: 68px;
  width: 68px;
  min-width: 68px;
  border-radius: 50%;
  border: 2px solid #1e1e1e;
  overflow: hidden;
}

.client_thumb  img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.client_info {
  width: 100%;
  padding-left: 7px;
}

.client_info h4 {
  font-size: 24px;
  margin: 0px 0px 2px;
}

.client_info p {
  font-size: 15px;
  margin: 0px;
}

.testimonial_content {
  margin: 0px 0px 10px;
}

.testimonial_content p {
  font-size: 17px;
}

.testimonial_content p span {
  background-color: #ffa07a9b;
}

.testimonial_box {
  padding: 40px;
  border: 3px solid #1E1E1E;
  border-radius: 16px;
  background-color: #ffffff;
  z-index: 10;
  position: relative;
}
.testimonial_slide {
  padding: 0px 10px;
}

.testimonial_card {
  position: relative;
}

.testimonial_card:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #ffa07a9b;
  z-index: 1;
  transition: all 0.3s linear;
  border: 3px solid #1E1E1E;
  border-radius: 16px;
  transform: translate(0px, 0px);

}
.slick-slide.slick-current.slick-active.slick-center .testimonial_card:before{
  transform: translate(10px, 10px);
}
.testimonial_section {
  overflow-x: hidden;
}
.testimonial_slider .slick-list {
  overflow: visible;
  padding: 30px 0px !important;
}
.testimonial_slider .slick-track {
  display: flex;
  align-items: center;
}
.slick-prev:before {
  content: "\f053";
}

.slick-next:before, .slick-prev:before {
  font-family: 'FontAwesome';
}

.slick-next:before {
  content: "\f054";
}

.slick-next, .slick-prev {
  background-color: #1E1E1E !important;
  height: 61px !important;
  width: 61px !important;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.custm_faq .accordian_card.active-card {
  box-shadow: none;
}
.custm_faq .accordian_card {
  border-bottom: 2px solid var(--darkgrey);
  border-radius: 0px;
  padding: 0px;
  margin-bottom: 0px;
  border-width: 0px 0px 2px 0px;
}
.custm_faq .accordian_head {
  padding: 20px 0px;
}
.custm_faq .accordian_content {
  padding: 0px 0px 0px;
}

.custm_faq  .accordian_body.open {
  padding: 20px 0px;
}

.custm_faq  .accordian_head.active {
  padding-bottom: 0px;
}
.Faq_block {
  border: 2px dashed #1e1e1e;
  padding: 30px;
  border-radius: 30px;
  margin-top: 50px;
}
.custm_faq .accordian_card:last-child {
  border-bottom: 0px !important;
}
.custm_faq span.accordin_dropdown {
  height: 34px;
  width: 34px;
  background-color: #FFA86B;
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 0;
}
.custm_accordn span.accordin_dropdown {
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  text-align: center;
}

.custm_accordn span.accordin_dropdown img {
  display: block;
  margin: auto;
  width: 20px;
}
.custm_faq span.accordin_dropdown span {
  min-height: 1px;
  width: 15px;
  border: 1px solid #1e1e1e;
  display: block;
  border-radius: 20px;
  line-height: 0;
  transition: all 0.3s linear;
}
.custm_faq span.accordin_dropdown span:nth-child(2) {
  transform: rotate(90deg);
}
.custm_faq span.accordin_dropdown span:nth-child(1) {
  transform: translateY(1px);
}
.custm_faq .accordian_head.active span.accordin_dropdown span:nth-child(2) {
  width: 0px;
}
h2 span {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.section_head.blogs_section_head {
  margin-bottom: 50px;
}
.blogs_thumb {
  position: relative;
  width:100%;

  border-radius: 30px;
  overflow: hidden;
}
.blog_content {
  width: 100%;
  margin-top: 30px;
}
.blogs_thumb:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: linear-gradient(transparent,#1e1e1e);
}


.blogs_thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog_content .blog_excert {
  font-size: 18px;
}
.blog_tag {
  border: 2px solid;
  display: inline-block;
  padding: 10px 18px;
  font-size: 15px;
  border-radius: 9px;
  font-weight: 500;
  margin: 0px 0px 12px;
}
.blog_float_card .blog_tag {
  padding: 8px 12px;
  font-size: 12px;
}
.blogs_grid {
  gap: 40px 0px;
}
.blog_content h2 {
  font-size: 36px;
  line-height: 1.2;
  margin: 0px 0px 10px;
}

.blog_card .blog_card_inner {
  border: 2px solid #1E1E1E;
  border-radius: 30px;
  padding: 40px;
  overflow: hidden;
  height: 100%;
  display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.blog_card a.blogs_link {
  display: inline-block;
  height: 100%;
  color: var(--darkgrey);
  width: 100%;
}
.blog_card_wrap {
  height: 100%;
  position: relative;
}

.blog_card {
  height: 100%;
  position: relative;
  z-index: 1;
}
.blog_card_wrap .back_card {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border: 2px solid #1e1e1e;
  border-radius: 30px;
  transform: translate(10px, 10px);
}

.blog_float_card .blog_card .blog_card_inner  {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  height: 100%;
  padding: 0px;
  border: 0px;
}
.blog_float_card  .blog_card .blog_card_inner .blog_excert {
  display: none;
}

.blog_float_card  .blog_card_inner .blog_content {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 30px;
}

.blog_float_card .blog_card_inner .blog_content h2 {
  font-size: 22px;
  color: #ffffff;
  margin: 0px;
}

.blog_float_card  .blog_card_inner .blogs_thumb {
  height: 100%;
}

.double_blog {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.double_blog .blog_card_wrap.blog_float_card {
  height: 50%;
  width: 100%;
}

/*---- footer css start ------*/
footer.site_footer {
  background-color: #fff9f5;
}

.site_footer  .brand_logo {
  width: 100%;
  max-width: 117px;
  margin: 0px 0px 20px;
}

.site_footer p {
  font-size: 16px;
  margin: 0px 0px 20px;
  width: 100%;
  max-width: 370px;
}

.site_footer .footer_info_col a.cta {
  border: 2px solid var(--darkgrey);
  box-shadow: 2px 2px var(--darkgrey);
  color: var(--darkgrey);
  border-radius: 12px;
  font-size: 15px;
  font-weight: 600;
  padding: 14px 35px;
}
.links_col h4 {
  font-size: 20px;
  margin: 0px 0px 15px;
}

.links_col ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  line-height: 0;
}
.links_col ul li a {
  transition: all 0.3s linear;
  color: var(--darkgrey);
  font-size: 13px;
  line-height: 1.5;
  display: inline-block;
  line-height: 1.7;
  position: relative;
}

.links_col ul li:not(:last-child) {margin-bottom: 9px;}

.links_col ul li a:before {
  content: "";
  height: 1px;
  width: 0px;
  background: #aaa;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: auto;
  right: 0px;
  transition: all 0.3s linear;
}
.links_col ul li a:hover {
  color: #fa721b;
}
.links_col ul li a:hover:before {
  width: 100%;
}
.socail_wrap {
  display: flex;
  gap: 7px;
}

.socail_wrap a {
  background-color: var(--darkgrey);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.3s linear;
}

.socail_wrap a:hover {
  transform: scale(1.1);
  background-color: #ffa86b;
}

.copy_col p {
  width: 100%;
  max-width: 100%;
  margin: 0px;
  text-align: right;
}

.bottom_foot_row {
  align-items: center;
}

.bottom_footer {
  padding: 20px 0px;
  border-top: 1px solid #00000029;
  margin-top: 40px;
}



  