
 @font-face {
    font-family: 'Mirza Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Mirza Regular'), url('Mirza-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Mirza Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Mirza Medium'), url('Mirza-Medium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Mirza SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Mirza SemiBold'), url('Mirza-SemiBold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Mirza Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Mirza Bold'), url('Mirza-Bold.woff') format('woff');
    }


